*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 25px auto;
}

.header{
  height: 100px;
  background-color: rgb(229, 121, 230);
}

.jumbotron{
  height: 500px;
  margin: 25px auto;
  background-color: rgb(225, 214, 122);
}