*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 25px auto;
}

/* header */
.header{
  height: 100px;
  background-color: rgb(229, 121, 230);
}

.jumbotron{
  height: 500px;
  margin: 25px auto;
  background-color: rgb(225, 214, 122);
}
/* /header */

/* corpo della pagina */
.main{
  height: 750px;
  background-color: rgb(1, 134, 253);
}

.container .main-header, .left-space, .right-space, .center-space{
  background-color: rgb(171, 207, 231);
}

.main-header{
  height: 75px;
}

.left-space{
  float: left;
  width: 15%;
  height: 85%;
  margin-top: 20px;
}

.center-space{
  float: left;
  width: 65%;
  height: 85%;
  margin-top: 20px;
  margin-left: 2.5%;
}

.right-space{
  float: right;
  width: 15%;
  height: 85%;
  margin-top: 20px;
}
/* /corpo della pagina */